.footer {
  padding: 1rem;
  background: #222;
  display: grid;
  place-items: center;
}
.footer .social-icon:hover {
  color: var(--clr-primary-10);
}
.footer p {
  font-size: 1.25rem;
  text-transform: capitalize;
}
